.mainContent {
    padding-top: 100px;
}

.hand {
    cursor: pointer;
}

.noScrumRecords {
    background-color: lightslategray !important;
}

/*For select bar*/
.selectBox {
    margin: 5px;
    border: 1px solid #111;
    background: transparent;
    width: 75%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectdemoSelectHeader {

}

.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.selectdemoSelectHeader md-content._md {
    max-height: 240px;
}

/*For text editor plugin*/
.ta-editor {
    height: 500px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    font-family: inherit;
    font-size: 100%;
}

/*For project notes detail display*/
.projectNotesDisplayArea {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    font-family: inherit;
    font-size: 100%;
}
