<div class="modal-body">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Add Associate to a Project</h2>
        </div>
    </md-toolbar>

    <md-content class="md-no-momentum">
        <div layout="column" flex="">
                <div layout="row">
                    <md-input-container flex="50" md-no-float class="md-block">
                        <input name="associateName" ng-model="associate.associateName" placeholder="Associate Name" required>
                    </md-input-container>

                    <md-input-container flex="5" md-no-float class="md-block">
                    </md-input-container>

                    <md-input-container flex="50" md-no-float class="md-block">
                        <input name="associateId" ng-model="associate.associateId" placeholder="Associate Id" required>
                    </md-input-container>
                </div>

                <div layout="row">
                    <div layout="column" layout-align="center center" flex="50">
                        <label>Associate Role: </label>
                        <select class="selectBox" ng-model="associate.role" ng-options="role as role for role in roles"></select>
                    </div>

                    <md-input-container flex="5" md-no-float class="md-block">
                    </md-input-container>

                    <div layout="column" layout-align="center center" flex="50">
                        <label>Project(s): </label>
                        <select class="selectBox" ng-model="project" ng-options="project.projectName for project in projects" ng-change="selectedProject(project)"></select>
                    </div>
                </div>

                <br/>

                <div layout="row" layout-align="center" flex>
                    <md-button class="md-raised md-default" ng-click="closeAssociateModal()">close</md-button>
                    <md-button class="md-raised md-primary" ng-click="saveAssociate(associate)">Save</md-button>
                </div>
        </div>
    </md-content>
</div>
