<div class="col-md-8 col-md-offset-2" ng-controller="associateCtrl">
    <md-content class="md-padding">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Add/Update Associate</h2>
            </div>
        </md-toolbar>

        <md-content class="md-no-momentum">
            <div layout="column" flex="">
                <form name="addAssociateForm">
                    <div layout="row">
                        <md-input-container flex="50" md-no-float class="md-block">
                            <input name="associateName" ng-model="associate.associateName" placeholder="Associate Name">
                        </md-input-container>

                        <md-input-container flex="5" md-no-float class="md-block">
                        </md-input-container>

                        <md-input-container flex="50" md-no-float class="md-block">
                            <input name="associateId" ng-model="associate.associateId" placeholder="Associate Id" required>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex="50" md-no-float class="md-block">
                            <md-select name="associateRole" ng-model="associate.role" placeholder="Associate Role">
                                <md-option ng-repeat="role in roles" ng-value="role">
                                    {{role}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex="5" md-no-float class="md-block">
                        </md-input-container>

                        <md-input-container flex="50" md-no-float class="md-block">
                            <label>Project(s)</label>
                            <md-select ng-model="associate.projects" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple="">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm" type="search" placeholder="Search for a project..." class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup>
                                    <md-option ng-value="project" ng-repeat="project in projects |
                                                                               filter:searchTerm">{{project.projectName}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>

                    <br/>

                    <div layout="row" layout-align="center" flex>
                        <md-button class="md-raised md-default" ng-click="clearAssociateForm()">Clear</md-button>
                        <md-button class="md-raised md-primary" ng-disabled="canShowSaveButton(associate) == false" ng-click="saveAssociate(associate)">Save</md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </md-content>
</div>
