<div ng-controller="projectCtrl">
    <!--Modal Begin-->
    <div class="modal fade" id="project_page_modal" tabindex="-1" role="dialog" aria-labelledby="project_page_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <md-toolbar class="md-primary">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Add Project</h2>
                        </div>
                    </md-toolbar>

                    <md-content class="md-no-momentum">
                        <div layout="column" flex="">
                            Add Project
                        </div>

                        <div layout="row" layout-align="center" flex>
                            <md-button class="md-raised md-default" data-dismiss="modal">close</md-button>
                        </div>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
    <!--Modal End-->
</div>
